name: Update Terminal Output

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate output
        run: |
          echo "\$ date" > output.txt
          date >> output.txt

        - name: Inject into README
        run: |
          START="<!--START_SECTION:terminal-->"
          END="<!--END_SECTION:terminal-->"

          OUTPUT=$(cat output.txt)

          awk -v start="$START" -v end="$END" -v repl="$OUTPUT" '
          $0 ~ start {print; print repl; skip=1; next}
          $0 ~ end {skip=0}
          !skip {print}
          ' README.md > README.new.md

          mv README.new.md README.md


      - name: Commit
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add README.md
          git commit -m "update" || echo "no change"
          git push
